*.pt
*.tsv
*.h5ad
*.npz
*.txt
*.h5seurat
*.mtx
*.pyc
*.pkl
*.pth
*.csv
events.out.tfevents.*
.Rproj.user
*.png
*.pdf
*.rds
*.RDS
data/
results/
downstream/
runs/
cmd_PBMC2.*
run_scMILD_*
# *.ipynb
*.log
!requirements.txt